{% extends "../base.html" %}
{% block context %}

   <!-- Content Wrapper. Contains page content -->
   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/Account/index">主页</a></li>
              <li class="breadcrumb-item active">修改密码</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

       <!-- Main content -->
    <div class="content">
    <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-8">
        <div class="login-box">
        <!-- /.login-logo -->
        <div class="card">
         <div class="card-body login-card-body">
         <p class="login-box-msg">修改{{ username }}用户密码</p>
           <form id="changepasswordForm" name='changepasswordForm' action="login.html" method="post">
               {% csrf_token %}
             <div class="input-group mb-3">
               <input type="password" class="form-control" id="password" name="password" placeholder="请输入当前密码">
               <div class="input-group-append">
                 <div class="input-group-text">
                   <span class="fas fa-lock"></span>
                 </div>
               </div>
             </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" id="new_password" name="new_password" placeholder="请输入新密码">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="请再次输入新密码">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
           {% if tips %}
            <div style="color:#F00">{{ tips }}</div>
           {% endif %}
            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">更改密码</button>
              </div>
              <!-- /.col -->
            </div>
           </form>
         </div>
         <!-- /.login-card-body -->
       </div>
     </div>
   </div>
  </div>
  </div>
 </div> <!-- /.content -->
</div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block scripts %}
<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="/static/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/dist/js/adminlte.min.js"></script>

<script src="/static/plugins/jquery-validation/jquery.validate.min.js"></script>
<!-- Custom Script -->
<script src="/static/build/js/custom/Changepassword.js"></script>

{% endblock %}
