{% extends "base.html" %}
{% block context %}

   <!-- Content Wrapper. Contains page content -->
   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/Account/index">主页</a></li>
              <li class="breadcrumb-item active">首页</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
            </div>
             <div class="col-lg-4">
                <div class="card card-primary card-outline">
                  <div class="card-body">
                    <h5 class="card-title"><font size="3">欢迎您</font></h5>
                      {% for userinfo in userinfolist %}
                    <p class="card-text">
                      <br>
                      <font size="2"><strong>姓名：</strong> {{ userinfo.realname }}</font></h5>
                      <br>
                      <font size="2"><strong>邮箱地址：</strong> {{ userinfo.email }}</font></h5>
                      <br>
                      <font size="2"><strong>注册时间：</strong> {{ userinfo.date_joined }}</font></h5>
                      <br>
                      <font size="2"><strong>最近登陆：</strong> {{ userinfo.last_login }}</font></h5>
                      <br>
                      <font size="2"><strong>最近操作：</strong> 设置定时任务</font></h5>
                    </p>
                      {% endfor %}
                  </div>
                </div><!-- /.card -->
              </div>
              <div class="col-lg-4">
              </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div> <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block scripts %}
<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="/static/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/dist/js/adminlte.min.js"></script>
{% endblock %}